body {
	font-family: sans-serif;
	font-size: 11pt;
}

#header {
	font-family: sans-serif;
	text-align: center;
	padding-top: 10px;
	border: solid lightgray 1px;
	border-radius: 10px;
	width: 400px;
	display: block;
	margin: auto;
	background-color: white;
	display: block;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}

#title {
	font-size: 105%;
}

#text {
	font-size: 80%;
}

a:link {
	color: #0077dd;
}

a:visited {
	color: #0077dd;
}

.element {
	text-align: center;
	width: 50px;
	height: 70px;
	max-width: 50px;
	max-height: 70px;
	min-width: 50px;
	min-height: 70px;
	padding: 5px;
	border: solid gray 1px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

#table {
	display: block;
	border-spacing: 7px;
	width: auto;
}

.ui-tooltip {
	font-size: 80%;
}

.rowheader {
	border-top: solid lightgray 1px;
	border-bottom: solid lightgray 1px;
	border-left: solid lightgray 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 80%;
	text-decoration: none;
}

.columnheader {
	border-top: solid lightgray 1px;
	border-right: solid lightgray 1px;
	border-left: solid lightgray 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 80%;
	text-decoration: none;
}