<footer class="footer">
  <a class="text-muted" href="https://github.com/io4/io4.github.io">repo</a>
  <a class="text-muted pull-right" href="tos.html">Terms of Service &amp; Cookie policy</a>
</footer>

<!-- JavaScript -->
<script src="bootstrap/jquery.min.js" rel="prefetch"></script>
<script src="bootstrap/bootstrap.min.js" rel="prefetch"></script>
{% if page.title == "Members" %}
<script src="members.js" rel="prefetch"></script>
{% endif %}
{% if page.title == "User Saves" or page.title == "Infos" %}
<script src="saveembed.js" rel="prefetch"></script>
{% endif %}
{% if page.title == "Divisions" %}
<script src="divisions.js" rel="prefetch"></script>
{% endif %}
