.index *{
	font-family:monospace;
}
.index th{
	color:#ffd300;
	text-align:left;
}
table.index{
	border:0px;
	padding:0px;
	border-collapse:collapse;
}
.index th,.index td{
	padding:1px 4px;
}
.index tbody tr:hover{
	background:#9fee00;
	color:#000000;
}
.sizek{color:#ccffcc;}
.sizem{color:#ffffcc;}
.sizeg{color:#ffcccc;}
.lastmod{color:#aaaaaa;}
tr:hover .sizek{color:#000000;}
tr:hover .sizem{color:#000000;}
tr:hover .sizeg{color:#000000;}
tr:hover .lastmod{color:#000000;}
.index tr:hover a{color:#000000;}
a{
	color:#9fee00;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
body{
	background:#000000;
	color:#eeeeee;
}
input[type="text"]{
	border: 1px solid #9fee00;
	background: #000;
	color: #9fee00;
}
input[type="submit"]{
	border: 1px solid #9fee00;
	background: #9fee00;
	color: #000;
}
